// Overwrite font path.
$sui-font-path: "~@wpmudev/shared-ui/dist/fonts/";
$sui-image-path: "~@wpmudev/shared-ui/dist/images/";

// Share UI styles
@import "@wpmudev/shared-ui";

.sui-box-body {
	.sui-form-field {
		min-width: 100%;

		input {
			min-width: 100%;
		}
	}
}
